<table class="table table-striped responsive-table" id="cron_jobs_table">
    <thead>
        <tr>
            <th>Minute</th>
            <th>Hour</th>
            <th>Day</th>
            <th>Month</th>
            <th>Weekday</th>
            <th>Command</th>
            <th>Actions</th>
        </tr>
    </thead>

        <tbody><tr id="info_row_1">
        <td data-title="Minute"><span id="minute_info_1">0</span></td>
        <td data-title="Hour"><span id="hour_info_1">6</span></td>
        <td data-title="Day"><span id="day_info_1">*</span></td>
        <td data-title="Month"><span id="month_info_1">*</span></td>
        <td data-title="Weekday"><span id="weekday_info_1">*</span></td>
        <td data-title="Command" class="command-cell">
            <code id="command_htmlsafe_1">/usr/bin/curl  "http://geotienda.com/tarea/enviar_recordatorio_calificacion" -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36" --compressed</code>
            <input type="hidden" id="command_info_1" value="/usr/bin/curl  &quot;http://geotienda.com/tarea/enviar_recordatorio_calificacion&quot; -H &quot;User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36&quot; --compressed">
            <input type="hidden" id="linekey_1" value="3282395356">
        </td>
        <td data-title="Actions">
            <span class="btn btn-link" id="lnkEdit_1" onclick="toggle_module('edit_module_1')">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </span>&nbsp;&nbsp;&nbsp;
            <span class="btn btn-link" id="lnkDelete_1" onclick="toggle_module('delete_module_1')">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </span>
        </td>
    </tr>
    <tr id="module_row_1" class="dt_module_row">
        <td colspan="7">
            <div class="dt_module" id="edit_module_1" style="display: none">
    <div class="row">
        <div class="form-group">
            <ul class="list-unstyled schedule">
                                <li>
                    <label>Minute</label>
                    <input id="minute_1" type="text" class="form-control" size="4">
                    <div id="minute_1_error"></div>
                </li>
                                <li>
                    <label>Hour</label>
                    <input id="hour_1" type="text" class="form-control" size="4">
                    <div id="hour_1_error"></div>
                </li>
                                <li>
                    <label>Day</label>
                    <input id="day_1" type="text" class="form-control" size="4">
                    <div id="day_1_error"></div>
                </li>
                                <li>
                    <label>Month</label>
                    <input id="month_1" type="text" class="form-control" size="4">
                    <div id="month_1_error"></div>
                </li>
                                <li>
                    <label>Weekday</label>
                    <input id="weekday_1" type="text" class="form-control" size="4">
                    <div id="weekday_1_error"></div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <select id="common_options_1" onchange="select_common_option('1')" class="form-control">
                <option value="--">-- Common Settings --</option>
                
                    <option value="* * * * *">
                        Every Minute
                        (* * * * *)
                    </option>
                
                    <option value="*/5 * * * *">
                        Every 5 Minutes
                        (*/5 * * * *)
                    </option>
                
                    <option value="0,30 * * * *">
                        Twice an Hour
                        (0,30 * * * *)
                    </option>
                
                    <option value="0 * * * *">
                        Once an Hour
                        (0 * * * *)
                    </option>
                
                    <option value="0 0,12 * * *">
                        Twice a Day
                        (0 0,12 * * *)
                    </option>
                
                    <option value="0 0 * * *">
                        Once a Day
                        (0 0 * * *)
                    </option>
                
                    <option value="0 0 * * 0">
                        Once a Week
                        (0 0 * * 0)
                    </option>
                
                    <option value="0 0 1,15 * *">
                        1st and 15th
                        (0 0 1,15 * *)
                    </option>
                
                    <option value="0 0 1 * *">
                        Once a Month
                        (0 0 1 * *)
                    </option>
                
                    <option value="0 0 1 1 *">
                        Once a Year
                        (0 0 1 1 *)
                    </option>
                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-8">
            <label>Command</label>
            <input id="command_1" type="text" class="form-control" size="45">
            <div id="command_1_error"></div>
        </div>
    </div>
    <div class="form-group" id="edit_input_1">
        <input id="edit_line_1" type="button" class="btn btn-primary" value="Edit Line">
        <button class="btn btn-link" onclick="toggle_module('edit_module_1')">
            Cancel
        </button>
    </div>
    <div id="edit_status_1"></div>
</div>

            <div class="dt_module" id="delete_module_1" style="display: none">
                <div class="form-group">
                    <p>Delete this cron job?</p>
                </div>
                <div class="form-group" id="delete_input_1">
                    <input type="button" class="btn btn-primary" id="delete_line_1" value="Delete" onclick="delete_line('1')">
                    <button class="btn btn-link" id="cancel_delete_{{ index }}" onclick="toggle_module('delete_module_1')">
                        Cancel
                    </button>
                </div>
                <div id="delete_status_1"></div>
            </div>
            <div class="cjt_status_bar" id="status_bar_1"></div>
        </td>
    </tr>
        <tr id="info_row_2">
        <td data-title="Minute"><span id="minute_info_2">0</span></td>
        <td data-title="Hour"><span id="hour_info_2">21</span></td>
        <td data-title="Day"><span id="day_info_2">*</span></td>
        <td data-title="Month"><span id="month_info_2">*</span></td>
        <td data-title="Weekday"><span id="weekday_info_2">*</span></td>
        <td data-title="Command" class="command-cell">
            <code id="command_htmlsafe_2">/usr/bin/curl  "http://geotienda.com/tarea/calificar_no_notificados" -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36" --compressed</code>
            <input type="hidden" id="command_info_2" value="/usr/bin/curl  &quot;http://geotienda.com/tarea/calificar_no_notificados&quot; -H &quot;User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36&quot; --compressed">
            <input type="hidden" id="linekey_2" value="372928330">
        </td>
        <td data-title="Actions">
            <span class="btn btn-link" id="lnkEdit_2" onclick="toggle_module('edit_module_2')">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </span>&nbsp;&nbsp;&nbsp;
            <span class="btn btn-link" id="lnkDelete_2" onclick="toggle_module('delete_module_2')">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </span>
        </td>
    </tr>
    <tr id="module_row_2" class="dt_module_row">
        <td colspan="7">
            <div class="dt_module" id="edit_module_2" style="display: none">
    <div class="row">
        <div class="form-group">
            <ul class="list-unstyled schedule">
                                <li>
                    <label>Minute</label>
                    <input id="minute_2" type="text" class="form-control" size="4">
                    <div id="minute_2_error"></div>
                </li>
                                <li>
                    <label>Hour</label>
                    <input id="hour_2" type="text" class="form-control" size="4">
                    <div id="hour_2_error"></div>
                </li>
                                <li>
                    <label>Day</label>
                    <input id="day_2" type="text" class="form-control" size="4">
                    <div id="day_2_error"></div>
                </li>
                                <li>
                    <label>Month</label>
                    <input id="month_2" type="text" class="form-control" size="4">
                    <div id="month_2_error"></div>
                </li>
                                <li>
                    <label>Weekday</label>
                    <input id="weekday_2" type="text" class="form-control" size="4">
                    <div id="weekday_2_error"></div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <select id="common_options_2" onchange="select_common_option('2')" class="form-control">
                <option value="--">-- Common Settings --</option>
                
                    <option value="* * * * *">
                        Every Minute
                        (* * * * *)
                    </option>
                
                    <option value="*/5 * * * *">
                        Every 5 Minutes
                        (*/5 * * * *)
                    </option>
                
                    <option value="0,30 * * * *">
                        Twice an Hour
                        (0,30 * * * *)
                    </option>
                
                    <option value="0 * * * *">
                        Once an Hour
                        (0 * * * *)
                    </option>
                
                    <option value="0 0,12 * * *">
                        Twice a Day
                        (0 0,12 * * *)
                    </option>
                
                    <option value="0 0 * * *">
                        Once a Day
                        (0 0 * * *)
                    </option>
                
                    <option value="0 0 * * 0">
                        Once a Week
                        (0 0 * * 0)
                    </option>
                
                    <option value="0 0 1,15 * *">
                        1st and 15th
                        (0 0 1,15 * *)
                    </option>
                
                    <option value="0 0 1 * *">
                        Once a Month
                        (0 0 1 * *)
                    </option>
                
                    <option value="0 0 1 1 *">
                        Once a Year
                        (0 0 1 1 *)
                    </option>
                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-8">
            <label>Command</label>
            <input id="command_2" type="text" class="form-control" size="45">
            <div id="command_2_error"></div>
        </div>
    </div>
    <div class="form-group" id="edit_input_2">
        <input id="edit_line_2" type="button" class="btn btn-primary" value="Edit Line">
        <button class="btn btn-link" onclick="toggle_module('edit_module_2')">
            Cancel
        </button>
    </div>
    <div id="edit_status_2"></div>
</div>

            <div class="dt_module" id="delete_module_2" style="display: none">
                <div class="form-group">
                    <p>Delete this cron job?</p>
                </div>
                <div class="form-group" id="delete_input_2">
                    <input type="button" class="btn btn-primary" id="delete_line_2" value="Delete" onclick="delete_line('2')">
                    <button class="btn btn-link" id="cancel_delete_{{ index }}" onclick="toggle_module('delete_module_2')">
                        Cancel
                    </button>
                </div>
                <div id="delete_status_2"></div>
            </div>
            <div class="cjt_status_bar" id="status_bar_2"></div>
        </td>
    </tr>
        <tr id="info_row_3">
        <td data-title="Minute"><span id="minute_info_3">30</span></td>
        <td data-title="Hour"><span id="hour_info_3">6</span></td>
        <td data-title="Day"><span id="day_info_3">*</span></td>
        <td data-title="Month"><span id="month_info_3">*</span></td>
        <td data-title="Weekday"><span id="weekday_info_3">*</span></td>
        <td data-title="Command" class="command-cell">
            <code id="command_htmlsafe_3">/usr/bin/curl "http://geotienda.com/tarea/enviar_recordatorio_turno" -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36" --compressed</code>
            <input type="hidden" id="command_info_3" value="/usr/bin/curl &quot;http://geotienda.com/tarea/enviar_recordatorio_turno&quot; -H &quot;User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36&quot; --compressed">
            <input type="hidden" id="linekey_3" value="3218275074">
        </td>
        <td data-title="Actions">
            <span class="btn btn-link" id="lnkEdit_3" onclick="toggle_module('edit_module_3')">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </span>&nbsp;&nbsp;&nbsp;
            <span class="btn btn-link" id="lnkDelete_3" onclick="toggle_module('delete_module_3')">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </span>
        </td>
    </tr>
    <tr id="module_row_3" class="dt_module_row">
        <td colspan="7">
            <div class="dt_module" id="edit_module_3" style="display: none">
    <div class="row">
        <div class="form-group">
            <ul class="list-unstyled schedule">
                                <li>
                    <label>Minute</label>
                    <input id="minute_3" type="text" class="form-control" size="4">
                    <div id="minute_3_error"></div>
                </li>
                                <li>
                    <label>Hour</label>
                    <input id="hour_3" type="text" class="form-control" size="4">
                    <div id="hour_3_error"></div>
                </li>
                                <li>
                    <label>Day</label>
                    <input id="day_3" type="text" class="form-control" size="4">
                    <div id="day_3_error"></div>
                </li>
                                <li>
                    <label>Month</label>
                    <input id="month_3" type="text" class="form-control" size="4">
                    <div id="month_3_error"></div>
                </li>
                                <li>
                    <label>Weekday</label>
                    <input id="weekday_3" type="text" class="form-control" size="4">
                    <div id="weekday_3_error"></div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <select id="common_options_3" onchange="select_common_option('3')" class="form-control">
                <option value="--">-- Common Settings --</option>
                
                    <option value="* * * * *">
                        Every Minute
                        (* * * * *)
                    </option>
                
                    <option value="*/5 * * * *">
                        Every 5 Minutes
                        (*/5 * * * *)
                    </option>
                
                    <option value="0,30 * * * *">
                        Twice an Hour
                        (0,30 * * * *)
                    </option>
                
                    <option value="0 * * * *">
                        Once an Hour
                        (0 * * * *)
                    </option>
                
                    <option value="0 0,12 * * *">
                        Twice a Day
                        (0 0,12 * * *)
                    </option>
                
                    <option value="0 0 * * *">
                        Once a Day
                        (0 0 * * *)
                    </option>
                
                    <option value="0 0 * * 0">
                        Once a Week
                        (0 0 * * 0)
                    </option>
                
                    <option value="0 0 1,15 * *">
                        1st and 15th
                        (0 0 1,15 * *)
                    </option>
                
                    <option value="0 0 1 * *">
                        Once a Month
                        (0 0 1 * *)
                    </option>
                
                    <option value="0 0 1 1 *">
                        Once a Year
                        (0 0 1 1 *)
                    </option>
                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-8">
            <label>Command</label>
            <input id="command_3" type="text" class="form-control" size="45">
            <div id="command_3_error"></div>
        </div>
    </div>
    <div class="form-group" id="edit_input_3">
        <input id="edit_line_3" type="button" class="btn btn-primary" value="Edit Line">
        <button class="btn btn-link" onclick="toggle_module('edit_module_3')">
            Cancel
        </button>
    </div>
    <div id="edit_status_3"></div>
</div>

            <div class="dt_module" id="delete_module_3" style="display: none">
                <div class="form-group">
                    <p>Delete this cron job?</p>
                </div>
                <div class="form-group" id="delete_input_3">
                    <input type="button" class="btn btn-primary" id="delete_line_3" value="Delete" onclick="delete_line('3')">
                    <button class="btn btn-link" id="cancel_delete_{{ index }}" onclick="toggle_module('delete_module_3')">
                        Cancel
                    </button>
                </div>
                <div id="delete_status_3"></div>
            </div>
            <div class="cjt_status_bar" id="status_bar_3"></div>
        </td>
    </tr>
        <tr id="info_row_4">
        <td data-title="Minute"><span id="minute_info_4">30</span></td>
        <td data-title="Hour"><span id="hour_info_4">21</span></td>
        <td data-title="Day"><span id="day_info_4">*</span></td>
        <td data-title="Month"><span id="month_info_4">*</span></td>
        <td data-title="Weekday"><span id="weekday_info_4">*</span></td>
        <td data-title="Command" class="command-cell">
            <code id="command_htmlsafe_4">/usr/bin/curl "http://geotienda.com/tarea/eliminar_antiguos" -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36" --compressed</code>
            <input type="hidden" id="command_info_4" value="/usr/bin/curl &quot;http://geotienda.com/tarea/eliminar_antiguos&quot; -H &quot;User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36&quot; --compressed">
            <input type="hidden" id="linekey_4" value="709360173">
        </td>
        <td data-title="Actions">
            <span class="btn btn-link" id="lnkEdit_4" onclick="toggle_module('edit_module_4')">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </span>&nbsp;&nbsp;&nbsp;
            <span class="btn btn-link" id="lnkDelete_4" onclick="toggle_module('delete_module_4')">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </span>
        </td>
    </tr>
    <tr id="module_row_4" class="dt_module_row">
        <td colspan="7">
            <div class="dt_module" id="edit_module_4" style="display: none">
    <div class="row">
        <div class="form-group">
            <ul class="list-unstyled schedule">
                                <li>
                    <label>Minute</label>
                    <input id="minute_4" type="text" class="form-control" size="4">
                    <div id="minute_4_error"></div>
                </li>
                                <li>
                    <label>Hour</label>
                    <input id="hour_4" type="text" class="form-control" size="4">
                    <div id="hour_4_error"></div>
                </li>
                                <li>
                    <label>Day</label>
                    <input id="day_4" type="text" class="form-control" size="4">
                    <div id="day_4_error"></div>
                </li>
                                <li>
                    <label>Month</label>
                    <input id="month_4" type="text" class="form-control" size="4">
                    <div id="month_4_error"></div>
                </li>
                                <li>
                    <label>Weekday</label>
                    <input id="weekday_4" type="text" class="form-control" size="4">
                    <div id="weekday_4_error"></div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <select id="common_options_4" onchange="select_common_option('4')" class="form-control">
                <option value="--">-- Common Settings --</option>
                
                    <option value="* * * * *">
                        Every Minute
                        (* * * * *)
                    </option>
                
                    <option value="*/5 * * * *">
                        Every 5 Minutes
                        (*/5 * * * *)
                    </option>
                
                    <option value="0,30 * * * *">
                        Twice an Hour
                        (0,30 * * * *)
                    </option>
                
                    <option value="0 * * * *">
                        Once an Hour
                        (0 * * * *)
                    </option>
                
                    <option value="0 0,12 * * *">
                        Twice a Day
                        (0 0,12 * * *)
                    </option>
                
                    <option value="0 0 * * *">
                        Once a Day
                        (0 0 * * *)
                    </option>
                
                    <option value="0 0 * * 0">
                        Once a Week
                        (0 0 * * 0)
                    </option>
                
                    <option value="0 0 1,15 * *">
                        1st and 15th
                        (0 0 1,15 * *)
                    </option>
                
                    <option value="0 0 1 * *">
                        Once a Month
                        (0 0 1 * *)
                    </option>
                
                    <option value="0 0 1 1 *">
                        Once a Year
                        (0 0 1 1 *)
                    </option>
                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-8">
            <label>Command</label>
            <input id="command_4" type="text" class="form-control" size="45">
            <div id="command_4_error"></div>
        </div>
    </div>
    <div class="form-group" id="edit_input_4">
        <input id="edit_line_4" type="button" class="btn btn-primary" value="Edit Line">
        <button class="btn btn-link" onclick="toggle_module('edit_module_4')">
            Cancel
        </button>
    </div>
    <div id="edit_status_4"></div>
</div>

            <div class="dt_module" id="delete_module_4" style="display: none">
                <div class="form-group">
                    <p>Delete this cron job?</p>
                </div>
                <div class="form-group" id="delete_input_4">
                    <input type="button" class="btn btn-primary" id="delete_line_4" value="Delete" onclick="delete_line('4')">
                    <button class="btn btn-link" id="cancel_delete_{{ index }}" onclick="toggle_module('delete_module_4')">
                        Cancel
                    </button>
                </div>
                <div id="delete_status_4"></div>
            </div>
            <div class="cjt_status_bar" id="status_bar_4"></div>
        </td>
    </tr>
        <tr id="info_row_5">
        <td data-title="Minute"><span id="minute_info_5">0</span></td>
        <td data-title="Hour"><span id="hour_info_5">7</span></td>
        <td data-title="Day"><span id="day_info_5">*</span></td>
        <td data-title="Month"><span id="month_info_5">*</span></td>
        <td data-title="Weekday"><span id="weekday_info_5">*</span></td>
        <td data-title="Command" class="command-cell">
            <code id="command_htmlsafe_5">/usr/bin/curl "http://geotienda.com/tarea/enviar_recordatorio_vacuna" -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36" --compressed</code>
            <input type="hidden" id="command_info_5" value="/usr/bin/curl &quot;http://geotienda.com/tarea/enviar_recordatorio_vacuna&quot; -H &quot;User-Agent: Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36&quot; --compressed">
            <input type="hidden" id="linekey_5" value="2447489688">
        </td>
        <td data-title="Actions">
            <span class="btn btn-link" id="lnkEdit_5" onclick="toggle_module('edit_module_5')">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </span>&nbsp;&nbsp;&nbsp;
            <span class="btn btn-link" id="lnkDelete_5" onclick="toggle_module('delete_module_5')">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </span>
        </td>
    </tr>
    <tr id="module_row_5" class="dt_module_row">
        <td colspan="7">
            <div class="dt_module" id="edit_module_5" style="display: none">
    <div class="row">
        <div class="form-group">
            <ul class="list-unstyled schedule">
                                <li>
                    <label>Minute</label>
                    <input id="minute_5" type="text" class="form-control" size="4">
                    <div id="minute_5_error"></div>
                </li>
                                <li>
                    <label>Hour</label>
                    <input id="hour_5" type="text" class="form-control" size="4">
                    <div id="hour_5_error"></div>
                </li>
                                <li>
                    <label>Day</label>
                    <input id="day_5" type="text" class="form-control" size="4">
                    <div id="day_5_error"></div>
                </li>
                                <li>
                    <label>Month</label>
                    <input id="month_5" type="text" class="form-control" size="4">
                    <div id="month_5_error"></div>
                </li>
                                <li>
                    <label>Weekday</label>
                    <input id="weekday_5" type="text" class="form-control" size="4">
                    <div id="weekday_5_error"></div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <select id="common_options_5" onchange="select_common_option('5')" class="form-control">
                <option value="--">-- Common Settings --</option>
                
                    <option value="* * * * *">
                        Every Minute
                        (* * * * *)
                    </option>
                
                    <option value="*/5 * * * *">
                        Every 5 Minutes
                        (*/5 * * * *)
                    </option>
                
                    <option value="0,30 * * * *">
                        Twice an Hour
                        (0,30 * * * *)
                    </option>
                
                    <option value="0 * * * *">
                        Once an Hour
                        (0 * * * *)
                    </option>
                
                    <option value="0 0,12 * * *">
                        Twice a Day
                        (0 0,12 * * *)
                    </option>
                
                    <option value="0 0 * * *">
                        Once a Day
                        (0 0 * * *)
                    </option>
                
                    <option value="0 0 * * 0">
                        Once a Week
                        (0 0 * * 0)
                    </option>
                
                    <option value="0 0 1,15 * *">
                        1st and 15th
                        (0 0 1,15 * *)
                    </option>
                
                    <option value="0 0 1 * *">
                        Once a Month
                        (0 0 1 * *)
                    </option>
                
                    <option value="0 0 1 1 *">
                        Once a Year
                        (0 0 1 1 *)
                    </option>
                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-8">
            <label>Command</label>
            <input id="command_5" type="text" class="form-control" size="45">
            <div id="command_5_error"></div>
        </div>
    </div>
    <div class="form-group" id="edit_input_5">
        <input id="edit_line_5" type="button" class="btn btn-primary" value="Edit Line">
        <button class="btn btn-link" onclick="toggle_module('edit_module_5')">
            Cancel
        </button>
    </div>
    <div id="edit_status_5"></div>
</div>

            <div class="dt_module" id="delete_module_5" style="display: none">
                <div class="form-group">
                    <p>Delete this cron job?</p>
                </div>
                <div class="form-group" id="delete_input_5">
                    <input type="button" class="btn btn-primary" id="delete_line_5" value="Delete" onclick="delete_line('5')">
                    <button class="btn btn-link" id="cancel_delete_{{ index }}" onclick="toggle_module('delete_module_5')">
                        Cancel
                    </button>
                </div>
                <div id="delete_status_5"></div>
            </div>
            <div class="cjt_status_bar" id="status_bar_5"></div>
        </td>
    </tr>
        <tr id="info_row_6">
        <td data-title="Minute"><span id="minute_info_6">33</span></td>
        <td data-title="Hour"><span id="hour_info_6">0</span></td>
        <td data-title="Day"><span id="day_info_6">*</span></td>
        <td data-title="Month"><span id="month_info_6">*</span></td>
        <td data-title="Weekday"><span id="weekday_info_6">*</span></td>
        <td data-title="Command" class="command-cell">
            <code id="command_htmlsafe_6">/usr/local/bin/perl /usr/local/cpanel/3rdparty/quickinstall/scripts/checkupdates.pl</code>
            <input type="hidden" id="command_info_6" value="/usr/local/bin/perl /usr/local/cpanel/3rdparty/quickinstall/scripts/checkupdates.pl">
            <input type="hidden" id="linekey_6" value="4005005368">
        </td>
        <td data-title="Actions">
            <span class="btn btn-link" id="lnkEdit_6" onclick="toggle_module('edit_module_6')">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </span>&nbsp;&nbsp;&nbsp;
            <span class="btn btn-link" id="lnkDelete_6" onclick="toggle_module('delete_module_6')">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </span>
        </td>
    </tr>
    <tr id="module_row_6" class="dt_module_row">
        <td colspan="7">
            <div class="dt_module" id="edit_module_6" style="display: none">
    <div class="row">
        <div class="form-group">
            <ul class="list-unstyled schedule">
                                <li>
                    <label>Minute</label>
                    <input id="minute_6" type="text" class="form-control" size="4">
                    <div id="minute_6_error"></div>
                </li>
                                <li>
                    <label>Hour</label>
                    <input id="hour_6" type="text" class="form-control" size="4">
                    <div id="hour_6_error"></div>
                </li>
                                <li>
                    <label>Day</label>
                    <input id="day_6" type="text" class="form-control" size="4">
                    <div id="day_6_error"></div>
                </li>
                                <li>
                    <label>Month</label>
                    <input id="month_6" type="text" class="form-control" size="4">
                    <div id="month_6_error"></div>
                </li>
                                <li>
                    <label>Weekday</label>
                    <input id="weekday_6" type="text" class="form-control" size="4">
                    <div id="weekday_6_error"></div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <select id="common_options_6" onchange="select_common_option('6')" class="form-control">
                <option value="--">-- Common Settings --</option>
                
                    <option value="* * * * *">
                        Every Minute
                        (* * * * *)
                    </option>
                
                    <option value="*/5 * * * *">
                        Every 5 Minutes
                        (*/5 * * * *)
                    </option>
                
                    <option value="0,30 * * * *">
                        Twice an Hour
                        (0,30 * * * *)
                    </option>
                
                    <option value="0 * * * *">
                        Once an Hour
                        (0 * * * *)
                    </option>
                
                    <option value="0 0,12 * * *">
                        Twice a Day
                        (0 0,12 * * *)
                    </option>
                
                    <option value="0 0 * * *">
                        Once a Day
                        (0 0 * * *)
                    </option>
                
                    <option value="0 0 * * 0">
                        Once a Week
                        (0 0 * * 0)
                    </option>
                
                    <option value="0 0 1,15 * *">
                        1st and 15th
                        (0 0 1,15 * *)
                    </option>
                
                    <option value="0 0 1 * *">
                        Once a Month
                        (0 0 1 * *)
                    </option>
                
                    <option value="0 0 1 1 *">
                        Once a Year
                        (0 0 1 1 *)
                    </option>
                
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-md-8">
            <label>Command</label>
            <input id="command_6" type="text" class="form-control" size="45">
            <div id="command_6_error"></div>
        </div>
    </div>
    <div class="form-group" id="edit_input_6">
        <input id="edit_line_6" type="button" class="btn btn-primary" value="Edit Line">
        <button class="btn btn-link" onclick="toggle_module('edit_module_6')">
            Cancel
        </button>
    </div>
    <div id="edit_status_6"></div>
</div>

            <div class="dt_module" id="delete_module_6" style="display: none">
                <div class="form-group">
                    <p>Delete this cron job?</p>
                </div>
                <div class="form-group" id="delete_input_6">
                    <input type="button" class="btn btn-primary" id="delete_line_6" value="Delete" onclick="delete_line('6')">
                    <button class="btn btn-link" id="cancel_delete_{{ index }}" onclick="toggle_module('delete_module_6')">
                        Cancel
                    </button>
                </div>
                <div id="delete_status_6"></div>
            </div>
            <div class="cjt_status_bar" id="status_bar_6"></div>
        </td>
    </tr>
    
</tbody></table>