<table id="accounts_table" class="table table-striped responsive-table">
                <thead>
                    <tr>
                        <th class="col1">
                            <a id="email_table_account_sort" class="sort-link" href="javascript:void(0)">
                                <span>Account</span>
                                <span id="email_table_account_sort_img"></span>
                            </a>
                            <span>@</span>
                            <a id="email_table_domain_sort" class="sort-link" href="javascript:void(0)">
                                <span>Domain</span>
                                <span id="email_table_domain_sort_img"></span>
                            </a>
                        </th>
                        <th class="col2">
                            <a id="email_table_usage_sort" class="sort-link" href="javascript:void(0)">
                                <span>Usage</span>
                                <span id="email_table_usage_sort_img"></span>
                            </a>
                            <span>/</span>
                            <a id="email_table_quota_sort" class="sort-link" href="javascript:void(0)">
                                <span>Quota</span>
                                <span id="email_table_quota_sort_img"></span>
                            </a>
                            <span>/</span>
                            <a id="email_table_percent_sort" class="sort-link" href="javascript:void(0)">
                                <span>%</span>
                                <span id="email_table_percent_sort_img"></span>
                            </a>
                        </th>
                        <th id="email_table_actions" class="col3">Actions</th>
                    </tr>
                </thead>
                <tbody id="accounts_table_body"><tr id="account_row_0" class="dt_info_row rowA"><td class="col1"><span class="fa-stack fa-lg" title="“admin@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“admin@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> admin@geotienda.com</td><td class="col2">1<input type="hidden" id="diskused_0" value="1"> / <span id="quota_0">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_0"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0.2%;"><span class="sr-only">0.2%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_0', index:0, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_0', index:0, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_0" href="clientconf.html?acct=admin%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_0', index:0, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_0" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “admin@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22admin%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22admin%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “admin@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22admin%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “admin@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22admin%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_0" href="webmailform.html?user=admin@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_0" href="calendars_and_contacts/index.html.tt?user=admin@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_0" class="rowA action-row"><td colspan="3"><div id="change_password_module_0" class="dt_module" style="display: none"></div><div id="change_quota_module_0" class="dt_module" style="display: none"></div><div id="delete_module_0" class="dt_module" style="display: none"></div><div id="status_bar_0" class="cjt_status_bar"></div></td></tr><tr id="account_row_1" class="dt_info_row rowB"><td class="col1"><span class="fa-stack fa-lg" title="“christian.zanabria@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“christian.zanabria@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> christian.zanabria@geotienda.com</td><td class="col2">9<input type="hidden" id="diskused_1" value="9"> / <span id="quota_1">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_1"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 1.8%;"><span class="sr-only">1.7999999999999998%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_1', index:1, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_1', index:1, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_1" href="clientconf.html?acct=christian.zanabria%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_1', index:1, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_1" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “christian.zanabria@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22christian.zanabria%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22christian.zanabria%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “christian.zanabria@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22christian.zanabria%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “christian.zanabria@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22christian.zanabria%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_1" href="webmailform.html?user=christian.zanabria@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_1" href="calendars_and_contacts/index.html.tt?user=christian.zanabria@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_1" class="rowB action-row"><td colspan="3"><div id="change_password_module_1" class="dt_module" style="display: none"></div><div id="change_quota_module_1" class="dt_module" style="display: none"></div><div id="delete_module_1" class="dt_module" style="display: none"></div><div id="status_bar_1" class="cjt_status_bar"></div></td></tr><tr id="account_row_2" class="dt_info_row rowA"><td class="col1"><span class="fa-stack fa-lg" title="“contacto@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“contacto@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> contacto@geotienda.com</td><td class="col2">0<input type="hidden" id="diskused_2" value="0"> / <span id="quota_2">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_2"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;"><span class="sr-only">0%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_2', index:2, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_2', index:2, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_2" href="clientconf.html?acct=contacto%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_2', index:2, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_2" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “contacto@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22contacto%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22contacto%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “contacto@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22contacto%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “contacto@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22contacto%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_2" href="webmailform.html?user=contacto@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_2" href="calendars_and_contacts/index.html.tt?user=contacto@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_2" class="rowA action-row"><td colspan="3"><div id="change_password_module_2" class="dt_module" style="display: none"></div><div id="change_quota_module_2" class="dt_module" style="display: none"></div><div id="delete_module_2" class="dt_module" style="display: none"></div><div id="status_bar_2" class="cjt_status_bar"></div></td></tr><tr id="account_row_3" class="dt_info_row rowB"><td class="col1"><span class="fa-stack fa-lg" title="“facturacion@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“facturacion@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> facturacion@geotienda.com</td><td class="col2">0<input type="hidden" id="diskused_3" value="0"> / <span id="quota_3">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_3"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;"><span class="sr-only">0%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_3', index:3, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_3', index:3, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_3" href="clientconf.html?acct=facturacion%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_3', index:3, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_3" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “facturacion@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22facturacion%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22facturacion%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “facturacion@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22facturacion%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “facturacion@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22facturacion%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_3" href="webmailform.html?user=facturacion@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_3" href="calendars_and_contacts/index.html.tt?user=facturacion@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_3" class="rowB action-row"><td colspan="3"><div id="change_password_module_3" class="dt_module" style="display: none"></div><div id="change_quota_module_3" class="dt_module" style="display: none"></div><div id="delete_module_3" class="dt_module" style="display: none"></div><div id="status_bar_3" class="cjt_status_bar"></div></td></tr><tr id="account_row_4" class="dt_info_row rowA"><td class="col1"><span class="fa-stack fa-lg" title="“german.vide@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“german.vide@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> german.vide@geotienda.com</td><td class="col2">4<input type="hidden" id="diskused_4" value="4"> / <span id="quota_4">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_4"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0.8%;"><span class="sr-only">0.8%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_4', index:4, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_4', index:4, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_4" href="clientconf.html?acct=german.vide%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_4', index:4, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_4" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “german.vide@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22german.vide%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22german.vide%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “german.vide@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22german.vide%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “german.vide@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22german.vide%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_4" href="webmailform.html?user=german.vide@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_4" href="calendars_and_contacts/index.html.tt?user=german.vide@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_4" class="rowA action-row"><td colspan="3"><div id="change_password_module_4" class="dt_module" style="display: none"></div><div id="change_quota_module_4" class="dt_module" style="display: none"></div><div id="delete_module_4" class="dt_module" style="display: none"></div><div id="status_bar_4" class="cjt_status_bar"></div></td></tr><tr id="account_row_5" class="dt_info_row rowB"><td class="col1"><span class="fa-stack fa-lg" title="“info@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“info@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> info@geotienda.com</td><td class="col2">12<input type="hidden" id="diskused_5" value="12"> / <span id="quota_5">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_5"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 2.4%;"><span class="sr-only">2.4%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_5', index:5, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_5', index:5, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_5" href="clientconf.html?acct=info%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_5', index:5, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_5" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “info@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22info%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22info%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “info@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22info%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “info@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22info%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_5" href="webmailform.html?user=info@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_5" href="calendars_and_contacts/index.html.tt?user=info@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_5" class="rowB action-row"><td colspan="3"><div id="change_password_module_5" class="dt_module" style="display: none"></div><div id="change_quota_module_5" class="dt_module" style="display: none"></div><div id="delete_module_5" class="dt_module" style="display: none"></div><div id="status_bar_5" class="cjt_status_bar"></div></td></tr><tr id="account_row_6" class="dt_info_row rowA"><td class="col1"><span class="fa-stack fa-lg" title="“no-responder-este-mail@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“no-responder-este-mail@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> no-responder-este-mail@geotienda.com</td><td class="col2">2<input type="hidden" id="diskused_6" value="2"> / <span id="quota_6">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_6"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0.4%;"><span class="sr-only">0.4%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_6', index:6, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_6', index:6, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_6" href="clientconf.html?acct=no-responder-este-mail%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_6', index:6, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_6" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “no-responder-este-mail@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22no-responder-este-mail%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22no-responder-este-mail%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “no-responder-este-mail@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22no-responder-este-mail%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “no-responder-este-mail@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22no-responder-este-mail%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_6" href="webmailform.html?user=no-responder-este-mail@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_6" href="calendars_and_contacts/index.html.tt?user=no-responder-este-mail@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_6" class="rowA action-row"><td colspan="3"><div id="change_password_module_6" class="dt_module" style="display: none"></div><div id="change_quota_module_6" class="dt_module" style="display: none"></div><div id="delete_module_6" class="dt_module" style="display: none"></div><div id="status_bar_6" class="cjt_status_bar"></div></td></tr><tr id="account_row_7" class="dt_info_row rowB"><td class="col1"><span class="fa-stack fa-lg" title="“sebastian.piquet@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“sebastian.piquet@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> sebastian.piquet@geotienda.com</td><td class="col2">8<input type="hidden" id="diskused_7" value="8"> / <span id="quota_7">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_7"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 1.6%;"><span class="sr-only">1.6%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_7', index:7, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_7', index:7, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_7" href="clientconf.html?acct=sebastian.piquet%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_7', index:7, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_7" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “sebastian.piquet@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22sebastian.piquet%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22sebastian.piquet%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “sebastian.piquet@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22sebastian.piquet%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “sebastian.piquet@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22sebastian.piquet%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_7" href="webmailform.html?user=sebastian.piquet@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_7" href="calendars_and_contacts/index.html.tt?user=sebastian.piquet@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_7" class="rowB action-row"><td colspan="3"><div id="change_password_module_7" class="dt_module" style="display: none"></div><div id="change_quota_module_7" class="dt_module" style="display: none"></div><div id="delete_module_7" class="dt_module" style="display: none"></div><div id="status_bar_7" class="cjt_status_bar"></div></td></tr><tr id="account_row_8" class="dt_info_row rowA"><td class="col1"><span class="fa-stack fa-lg" title="“soporte@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“soporte@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> soporte@geotienda.com</td><td class="col2">0<input type="hidden" id="diskused_8" value="0"> / <span id="quota_8">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_8"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;"><span class="sr-only">0%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_8', index:8, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_8', index:8, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_8" href="clientconf.html?acct=soporte%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_8', index:8, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_8" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “soporte@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22soporte%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22soporte%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “soporte@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22soporte%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “soporte@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22soporte%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_8" href="webmailform.html?user=soporte@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_8" href="calendars_and_contacts/index.html.tt?user=soporte@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_8" class="rowA action-row"><td colspan="3"><div id="change_password_module_8" class="dt_module" style="display: none"></div><div id="change_quota_module_8" class="dt_module" style="display: none"></div><div id="delete_module_8" class="dt_module" style="display: none"></div><div id="status_bar_8" class="cjt_status_bar"></div></td></tr><tr id="account_row_9" class="dt_info_row rowB"><td class="col1"><span class="fa-stack fa-lg" title="“ventas@geotienda.com” can send and receive mail."><i class="fa fa-upload fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> <span class="fa-stack fa-lg" title="“ventas@geotienda.com” can receive mail."><i class="fa fa-download fa-stack-1x"></i><i class="fa fa-ban fa-stack-2x text-danger" style="visibility:hidden"></i></span> ventas@geotienda.com</td><td class="col2">0<input type="hidden" id="diskused_9" value="0"> / <span id="quota_9">500</span> <span class="megabyte_font">MB</span><br><div class="table_progress_bar" id="usage_bar_9"><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;"><span class="sr-only">0%</span></div></div></div></td><td class="col3"><table class="table_email_accts_actions" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_password_module_9', index:9, action:'change_password'})"><span class="fa fa-key fa-lg"></span> Password</span></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'change_quota_module_9', index:9, action:'change_quota'})"><span class="glyphicon glyphicon-pencil"></span> Quota</span></td><td><a class="btn btn-link" id="email_table_menu_configure_email_9" href="clientconf.html?acct=ventas%40geotienda.com"><span class="fa fa-cog"></span> Set Up Mail Client</a></td><td><span class="btn btn-link" onclick="toggle_action_div(null, {id:'delete_module_9', index:9, action:'delete'})"><span class="glyphicon glyphicon-trash"></span> Delete</span></td><td><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" id="email_table_menu_button_9" data-toggle="dropdown">More <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a title="Suspend “ventas@geotienda.com”’s logins and incoming mail." href="../landing.html?app_key=accounts&amp;uapi_module=Batch&amp;uapi_func=strict&amp;uapi_data=%7B%22command%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_incoming%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22ventas%40geotienda.com%5C%22%7D%5D%22%2C%22command-0%22%3A%22%5B%5C%22Email%5C%22%2C%5C%22suspend_login%5C%22%2C%7B%5C%22email%5C%22%3A%5C%22ventas%40geotienda.com%5C%22%7D%5D%22%7D">Suspend</a></li><li><a title="Suspend “ventas@geotienda.com”’s logins." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_login&amp;uapi_data=%7B%22email%22%3A%22ventas%40geotienda.com%22%7D">Suspend Login</a></li><li><a title="Suspend “ventas@geotienda.com” from receiving mail." href="../landing.html?app_key=accounts&amp;uapi_module=Email&amp;uapi_func=suspend_incoming&amp;uapi_data=%7B%22email%22%3A%22ventas%40geotienda.com%22%7D">Suspend Incoming Mail</a></li><li><a id="email_table_menu_webmail_9" href="webmailform.html?user=ventas@geotienda.com&amp;domain=geotienda.com" target="_blank">Access Webmail</a></li><li><a id="email_table_menu_configure_calendar_contacts_9" href="calendars_and_contacts/index.html.tt?user=ventas@geotienda.com">Configure Calendars and Contacts</a></li></ul></div></td></tr></tbody></table></td></tr><tr id="dt_module_row_9" class="rowB action-row"><td colspan="3"><div id="change_password_module_9" class="dt_module" style="display: none"></div><div id="change_quota_module_9" class="dt_module" style="display: none"></div><div id="delete_module_9" class="dt_module" style="display: none"></div><div id="status_bar_9" class="cjt_status_bar"></div></td></tr></tbody>
            </table>