html,body {
    height:100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Ubuntu', sans-serif;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.centrado {
    display: table;
    margin-left: auto;
    margin-right: auto; 
}

.oculto {
    display: none !important;
}

.modal-grande {
 	max-height: 90vh; 
 	overflow-y: hidden;
    overflow-x: hidden;
 }

.modal-grande-80 {
    max-height: 80vh !important; 
 }

.modal-overflow-contenido {
    max-height: 65vh; 
    overflow-y: auto;
 }

.green {
    color: green;
}

.red {
    color: red;
}

.tachado {
 text-decoration: line-through
}

.text-gris{
    color: #666;
}

.bg-yellow-light {
  background-color: lightyellow;
}

.btn-tabla{
	width: 124px;
	margin-bottom: 10px;
}

.header-pagina{
	height:60px; 
	padding-top:14px;
}

.buttons-logged-in{
    position: absolute;
    right: 4px;
    top: 8px;
}


.box-notificaciones{
	width: 290px;
	margin-top: 2px;
	max-height: 90vh;
	overflow-y: scroll;
}

.calificacion-notificaciones{
	margin-top: 10px;
	font-size: 12xp;
	font-weight: 100;
}

.count-notificaciones{
	position:absolute; 
	right:17px; 
	top:10px; 
	z-index: 10000;
}

 .notificaciones-frontend{
    margin-right: 12px !important;   
    margin-top: 5px;
 }

.count-notificaciones-frontend{
    position:absolute; 
    z-index: 10000;
    right: 0;
    top: -3px;
}

.notificacion_no_leida{
	background: #fcff8e; //#EDF2FA;
	margin-bottom: 1px !important;
	padding-top: 7px !important;
	border-bottom: 0 !important;
    padding-right: 10px !important;
}

.notificacion_leida{
	margin-bottom: 1px !important;
	padding-top: 7px !important;
    padding-right: 10px !important;
}

.notificaciones-ver-todas{
    margin-top: 6px;
    margin-bottom: 0 !important;
}

.detalle-notificacion{
	top: 10px !important;
    font-size: 20px !important;
    margin-top: 12px;
    margin-left: 4px;
}

.no-hay-notificaciones{
    margin-top: 6px !important;
}

.titulo-box-notificaciones{
	margin-bottom: 0px !important;
    background: #89aedc !important;
    color: white !important;
    height: 34px !important;
    padding-top: 7px !important;
}

.list-activity > li > a > i:first-child{
      position: absolute;
      left: 10px;
      top: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      text-align: center;
    }

.box-notificaciones > li > a > div{
	white-space: normal;
}

.detalle-venta{
	padding-top: 8px !important;
	border-bottom: 5px !important;	
}

.espacio-8{
	margin-bottom: 8px;
}


/* FRONT-END */

/* COLORES PRINCIPALES 
#FCAC0D -> naranja (252 172 13)
#89AEDC -> celeste (137 174 220) 
*/

/* xs */
div.btn-group.btn-toggle.centrado
{
    width: 100%;
}

@media screen and (max-width: 767px) 
{
     .btn-toggle-prod-serv
     {
        width: 50%;
     }

     .push-50-l-mob{
        margin-right: 50px !important;
     }

     .push-50-r-mob{
        margin-left: 50px !important;
     } 

     .centrado-xs{
        text-align: center;
     }

     .font-tabs-texto,
     .font-tabs {
        font-size: 20px !important;   
     }
     
     .tables-frontend{
        font-size: 12px;
        margin-right: -25px;
        margin-left: -25px;
     }


     .img-articulos{
        width: 100%;
     } 

     /*
     .block-content{
        padding: 14px 14px 1px;
     }
     */
}

/* sm hacia arriba */
@media screen and (min-width: 768px)
{
     .content {
        padding: 16px 16px 1px !important;
     }

     .filtros-box-content{
        padding: 12px 0 8px 10px;
        display: inline-block;
     } 

     .texto-banner-responsive{
        margin-bottom: 20px;    
     }

      .font-tabs{
        font-size: 46px !important;   
     }

     .block{
        margin-bottom: 16px !important;   
     }


     .div-img-articulos{
        height:200px; 
        position: relative; 
        overflow: hidden;
     }

     .img-articulos{
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        height: 100%;
     } 

    .div-img-articulos-detalle {
        height: 280px;
        position: relative;
        overflow: hidden;
    } 
}

.logo-geotienda{
    margin-left: -15px;
    margin-top: -6px;
    margin-right: 0 !important;
}

.bg-image {
  background-position: center 20%;
}

.como-funciona{
    margin: auto; 
  /*  background: #F1F1F1; #F81922; /* rojo de la version anterior */
    padding: 30px;
}


.como-funciona-box{
    background: #F81922;
    padding:30px;
    margin-bottom: 20px;
    height: 174px;
 /*   box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px; */
    border-radius: 8px;
}

.img-responsive{
    max-width: 100%;
}


.header-navbar-transparent.header-navbar-fixed.header-navbar-scroll #header-navbar {
	background-color: rgba(66, 20, 8, 0.7) !important; 
  /*  min-height: 70px; */
}

.background-arriba-layer {
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 440px;
}

.background-arriba-layer-mobile {
    background-color: rgba(0, 0, 0, 0.25);
}

.background-arriba-layer-oscuro {
    background-color: rgba(0, 0, 0, 0.4);

}

.fondo-huesos{
	background-image: url("../../img/frontend/fondohuesos.png");
	background-repeat: repeat;
    background-color: rgba(220, 220, 220, 0.4) !important;
}

.border-naranja {
  border: 1px solid #aaa;
}

.register-modal{
	 
	min-width: 340px !important;
}

.geotienda-modal-content{
	padding: 30px 30px 1px;
}

.olvide{
	line-height: 3;
}

.sin-cuenta{
    font-size: 13px;
    padding-top: 10px;
}

.login-close{
	position:absolute; 
	top:10px; 
	right:10px;
}

.form-group-login {
  margin-bottom: 14px;
}

.recaptcha {
    transform: scale(0.82);
    -webkit-transform:scale(0.82);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;    
    margin-left: -4px !important;
}

.btn-muted{
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #DDDDDD;
    border-color: #DDDDDD;    
}

.btn-celeste{
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #89AEDC;
    border-color: #89AEDC;    
}

.btn-geotienda{
	color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
	border-radius: 6px;
	background-color: #FCAC0D;
	border-color: #FCAC0D;
}

.btn-geotienda:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

.btn-geotienda-celeste{
    color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
    border-radius: 6px;
    background-color: #89AEDC;
    border-color: #89AEDC;
}

.btn-geotienda-celeste:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

.btn-geotienda-violeta{
    color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
    border-radius: 6px;
    background-color: #EE82EE;
    border-color: #EE82EE;
}

.btn-geotienda-violeta:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

.btn-geotienda-flat{
    color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
    border-radius: 6px;
    background-color: #44b4a6;
    border-color: #44b4a6;
}

.css-checkbox-flat input:checked + span {
  background-color: #44b4a6;
  border-color: #44b4a6;
}

.btn-geotienda-flat:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

.btn-geotienda-turnos{
    color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
    border-radius: 6px;
    background-color: #46c37b;
    border-color: #46c37b;
}

.btn-geotienda-turnos:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

.btn-geotienda-transparent{
	background: transparent;
    border-width: 2px;
}

.btn-geotienda-default{
    border-radius: 6px;
}

.btn-geotienda-mini{
    padding: 0 3px !important;
    margin-right: -4px;
    border-width: 2px;
}

.btn-redondo{
    border-radius: 18px;
}

.btn-redondo-mini{
    height: 28px;
    width: 28px;
    padding: 3px;
}

.btn-redondo-mini:hover{
    background-color: #FCAC0D !important;
    border-color: #FCAC0D !important;
    color: white !important;
}

.btn-nueva-busqueda{
    padding: 4px 6px;
    color: rgba(255, 255, 255, 0.9) !important;    
    background-color: rgba(255, 255, 255, 0.3) !important;    
    border-color: rgba(255, 255, 255, 0.3) !important;    
    margin-left: -16px;
    min-width: 100%;
}

.btn-nueva-busqueda:hover{
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;    
    border-color: rgba(255, 255, 255, 0.4) !important;        
}

.btn-listado-locales,
.btn-listado-locales-cliente{
    padding: 4px 8px;
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: rgba(255, 255, 255, 0.3) !important;    
    border-color: rgba(255, 255, 255, 0.3) !important;    
    width: 80%;
    margin: auto;
}

.btn-listado-locales:hover,
.btn-listado-locales-cliente:hover{
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;    
    border-color: rgba(255, 255, 255, 0.4) !important;    
}

.back-naranja{
    background-color: #FCAC0D !important;
    border-color: #FCAC0D !important;
}

.back-violeta{
    background-color: #EE82EE !important;
    border-color: #EE82EE !important;
}

.text-naranja{
    color: #FCAC0D !important;
}

.text-blanco{
    color: white !important;
}

.text-blanco:hover{
    color: #ddd !important;
}

.text-celeste{
    color: #89AEDC;
}

.text-violeta {
    color: #EE82EE;
}

.font-13{
    font-size: 13px !important;
}

.font-16{
    font-size: 16px !important;
}

.font-20{
    font-size: 20px !important;
}

.font-26{
    font-size: 26px !important;
}

.font-s30 {
  font-size: 30px !important;
}

.font-42{
	font-size: 42px !important;
}

.push-4-r {
  margin-right: 4px !important;
}

.push-15-r{
    margin-right: 15px !important;
}

.push--5-l{
    margin-left: -5px !important;
}

.push--10-l{
    margin-left: -10px !important;
}

.push--30-l{
    margin-left: -30px !important;
}

.push--50-l{
    margin-left: -50px !important;
}

.push--60-l{
    margin-left: -60px !important;
}

.push-8-l{
    margin-left: 8px !important;
}

.push-12-l{
    margin-left: 12px !important;
}

.push-15-l{
    margin-left: 15px !important;
}

.push-25-l{
    margin-left: 25px !important;
}

.push-80-l{
    margin-left: 80px !important;
}

.push--3-t{
    margin-top: -3px !important;
}

.push--5-t{
    margin-top: -5px !important;
}

.push--10-t{
    margin-top: -10px !important;
}

.push--30-t{
    margin-top: -30px !important;
}

.push--40-t{
    margin-top: -40px !important;
}

.push--50-t{
    margin-top: -50px !important;
}

.push-8-t{
    margin-top: 8px !important;
}

.push-18-t{
    margin-top: 18px !important;
}

.push-25-t{
    margin-top: 25px !important;
}

.push-28-t{
    margin-top: 28px !important;
}

.push-60-t{
    margin-top: 60px !important;
}

.push-70-t{
    margin-top: 70px !important;
}

.push-80-t{
    margin-top: 80px !important;
}

.push-120-t
{
    margin-top: 120px !important;
}


.push-150-t
{
    margin-top: 150px !important;
}

.push-200-t{
    margin-top: 200px !important;
}

.push-400-t{
    margin-top: 400px !important;
}

.push-500-t{
    margin-top: 500px !important;
}

.push--30{
    margin-bottom: -30px !important;
}

.push-60
{
    margin-bottom: 60px !important;
}

.push-80
{
    margin-bottom: 80px !important;
}

.w-130{
    width: 130px;
}

.w-150{
    width: 150px;
}

.w-166{
    width: 166px;
}

/* FILTROS y BUSCADOR */

.block-content-geotienda{
    padding: 10px 12px 0 12px;
}

.filtros-box{
    border-radius: 5px;
    display: table;
    width: 100%;
}

.filtro-item{
    white-space: normal;
    margin-left: -28px;
}

.ordenar{
    margin: 6px;
}

.filtro-select
{
    text-align: left;
    font-size: 13px;
    display: inherit;
    cursor: pointer;
    color: #03b;
    margin-bottom: -10px;
    list-style-type: none;
}

.filtro-tipo
{
    text-align: left;
    margin-left: 5px;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 3px;
}

.filtros-aplicados div
{
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    margin: 10px 0 6px 0;
    padding: 3px 6px;
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
    display: flow-root;
}

.visibility-visible {
  visibility: visible;
}

@media screen and (min-width: 768px) and (max-width: 820px)
{
 .buscador-articulos {
    max-width: 140px;
    padding-left: 2px;
    padding-right: 2px;
 }

 .orden-articulos{
    max-width: 140px;
    padding-left: 2px;
    padding-right: 2px;
 }
}

@media screen and (min-width: 821px) and (max-width: 880px)
{
 .buscador-articulos {
    max-width: 150px;
    padding-left: 2px;
    padding-right: 2px;    
 }

 .orden-articulos{
    max-width: 150px;
    padding-left: 2px;
    padding-right: 2px;    
 }
}


@media screen and (min-width: 881px) and (max-width: 960px)
{
 .buscador-articulos {
    max-width: 160px;
    padding-left: 4px;
    padding-right: 4px;      
 }

 .orden-articulos{
    max-width: 160px;
    padding-left: 4px;
    padding-right: 4px;       
 }

}

@media screen and (min-width: 768px) and (max-width: 900px)
{
 .btn-toggle-prod-serv{
    font-size:1.1vw;
    padding-left: 7px;
    padding-right: 7px;
 }
}

@media screen and (min-width: 901px) 
{
 .btn-toggle-prod-serv{
    font-size:1.1vw;
    padding-left: 10px;
    padding-right: 10px;
 }
}

/* fin FILTROS  y BUSCADOR */

/* LISTADO DE LOCALES*/

.destacado{
    border: 1px solid #89AEDC;
}

.full-pantalla{
    min-height: 70vh;
}

.local-box{
    background: white; 
    padding: 14px 6px;
    border-radius: 5px;
}

.local-avatar{
    margin: 20px;
}

.local-avatar-img{
    margin: 20px;
}

.btn-veterinaria{
    border: 1px solid violet;
    padding: 2px 3px;
    border-radius: 2px;
}

 .local-nombre-sm
 {
    font-size:1.2vw;
    white-space: normal;
    width: 90%;
 }

.valida-buscador{
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: #FCAC0D;
}

.local-info-extra {
    width: auto;
    height: 30px;
    border-top: #e7e7e7 1px solid;
    margin: 10px 0.5em 0;
}


.local-info-extra .medios-pago {
    margin-top: 10px;
    margin-left: -50px;
}

.medio-pago{
    float: left;
    list-style-type: none;
}

/* fin LISTADO DE LOCALES */

/* LISTADO DE ARTICULOS de un LOCAL */

.nombre-local-mob{
    color:white; 
    font-size: 18px;
}


.div-centrado{
    min-width: 100%;
}

.btn-info-local{
    display: block;
    margin: 0 auto;
}

.local-articulos-box{
    background: white; 
    border-radius: 5px;
    padding-top: 10px;     
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}


.pedido-box-mob{
    background: orange; 
    color: white;
    border-radius: 2px;
    padding-top: 10px;     
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    min-height: 40px;
    margin: 0 auto;
    width: 50%;
}


.bloque-articulos{
    min-height: 460px;
    overflow-y: auto;
}

.bloque-servicios{
    min-height: 380px;
}

.ver-detalle-articulo{
    position: absolute; 
    right: 8px; 
    top: 3px;
    z-index: 1;
}

.btn-semitransparente{
    background-color: rgba(0, 0, 0, 0.15);
}

.btn-transparente{
    background-color: transparent;
}

.btn-semitransparente-naranja{
    background-color: rgba(252, 172, 13, 0.3);
}

.btn-semitransparente-naranja:hover{
    background-color: rgba(252, 172, 13, 0.55);
}
/* fin LISTADO DE ARTICULOS de un LOCAL */


/* BUSCADOR PRINCIPAL */
#select2-loc-container span{
    font-size: 20px;
    font-weight: 600;
    color: #aaa;
}

#div_localidad span span span, #div_localidad_m span span span{
    padding-top: 4px;
    height: 46px;
    text-align: left; 
    padding-left: 6px;   
}

#div_localidad span span span{
    font-size: 20px;
    font-weight: 600;      
}

/* BUSCADOR PRINCIPAL MOBILE */
#select2-loc_m-container span{
    font-size: 14px;
    color: #aaa;    
}

#div_localidad span span span.select2-selection__arrow b, #div_localidad_m span span span.select2-selection__arrow b{
    right: 15px !important;
    left: auto;
}

#div_localidad span, #div_localidad_m span{
    width: 100% !important;
}

/* BUSCADOR MINI */
#div_localidad_mini span span span{
    line-height: 2.4;
    height: 30px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    font-weight: 600;
    color: #555;
    font-size: 13px;
} 

#div_localidad_mini span span span span span{
    background: transparent;
} 

.input-buscar-local-mini,
.input-buscar-local-mini-m{
    height: 30px;    
    padding: 6px 8px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.btn-buscador-mini{
    height: 30px;
    padding: 4px 8px;
    font-size: 13px;
    background-color: rgba(252, 172, 13, 0.8) !important;
    margin-right: -14px;
}


/* BUSCADOR MINI MOBILE */
#div_localidad_mini_m span {
    width: 100% !important;
} 

#div_localidad_mini_m span span span {
    line-height: 2.4;
    height: 30px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    font-weight: 600;
    color: #555;
    font-size: 13px;
} 

#div_localidad_mini_m span span span span {
    background: transparent;
} 

#div_localidad_mini_m span span span span b {
    margin-left: 45%;
} 


#div_localidad_mini_m span span span span span {
    background: transparent;
} 



.z-index-0{
    z-index: 0;
}

/* MENU PRINCIPAL */
.menu-header{

    padding: 0 18px 0 0 !important;
    margin-right: -10px !important;
}

.menu-header-item{

    padding: 1px !important;
    background-color: #FFFFFF !important;
}

.icono-menu-header{
	margin-top: 6px !important;
}

.nav-main-header ul a {  
    height: 38px;
    padding-top: 8px;
    line-height: 26px;
}

.nav-main-header ul a:hover {
    background-color: #FCAC0D;
    color: white !important;    
    height: 38px;
}

/* header avatar */
.active.nav-submenu img {  
    border-radius: 60px;
    width: 36px;
    height: 36px;
    border: .17em solid transparent;
}


/* Menu principal siempre visible */
.nav-main-header {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    padding: 0;
    width: auto;
    background-color: transparent;
    z-index: auto;
    opacity: 1;
    overflow-y: visible;
    -webkit-overflow-scrolling: auto;
    -webkit-transition: none;
    transition: none;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: translateX(0) translateY(0) translateZ(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0) translateZ(0);
}
.nav-main-header > li {
    position: relative;
    margin: 0 10px 0 0;
    float: left;
}
.nav-main-header ul {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 13px 0;
    min-width: 160px;
    background-color: #3e4a59;
}
.nav-main-header > li:last-child > ul {
    left: auto;
    right: 0;
}
/* FIN Menu principal siempre visible */

/* fin MENU PRINCIPAL */


/* DESCUENTOS */
.circulo_descuento {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #FF1919;
    color: #fff;
    text-align: center;
    font-size: 12px;
    position: absolute;
    line-height: 22px;
    left: 15px;
    top: 5px;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.circulo_descuento span {
    font-size: 20px;
    display: block;
    font-weight: bold;
    padding-top: 10px;
}

.circulo_descuento_mini {
    width: 35px;
    height: 20px;
    border-radius: 20px;
    background: #FF1919;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    float: left;
    margin-right: 4px;
}

.circulo_descuento_mini span {
    font-size: 12px;
    display: block;
    font-weight: bold;
    padding-top: 4px;
}

.texto-banner{
    padding: 13px;
}
/* fin DESCUENTOS */


/* PEDIDIO */

.btn-ver-pedido
{
    border: 0;
    background: transparent;
}

.cantidad-item-pedido{
    padding: 6px 2px;
    min-width: 40px;
}

.img-container .img-options {
  background-color: rgba(137, 174, 220, 0.2);
}

.img-container .img-options-geotienda {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.img-container .img-options-content {
  top: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.resaltado-naranja{
    color: white;
    background-color: #FCAC0D;  
    padding: 8px;
}


@media screen and (max-width: 400px)
{

/*
 .force-left-45 {
    margin-left: -45px !important;
 }

 .force-left-60 {
    margin-left: -60px !important;
 }

  .force-top-10 {
    margin-top: 10px !important;
 }
 */
 .logo-geotienda-responsive{
    margin:4px -2px;
    padding: 0;
    width: 112px;

 }

 .notificaciones-frontend{
    margin-left: -10px !important;
    margin-right: 2px !important;   
 }

 .count-notificaciones-frontend {
    position: absolute;
    z-index: 10000;
    right: 4px;
    top: -9px;
 }    
}

@media screen and (max-width: 860px){

  .hidden-860{
    display: none;
  }
}



.pedido-mobile{
    position: fixed;
    bottom: 8px;
    left: 0;
    width:100%;
    max-height: 75vh;
    overflow-y: scroll;
    z-index: 1000;
}

.modal-body{
    max-height: 70vh;
    overflow-y: scroll;    
}

.pedido-mobile-centrado{
    background: #FCAC0D; 
    color: white;
    border-radius: 2px;
    padding: 10px 2px 0 2px;     
    min-height: 40px;    
    width: 90%;
    margin: 0 auto; 
    max-width: 400px;
}

.pedido-mobile-lista{
    margin: 8px 3px;
    background: white;
}

.table-mi-pedido-mob{
    margin-bottom: 0;
}
/*
.stick {
    position:fixed;
    top:20px;
    width: 100%;
}
*/

/* clase para un elemento sticky */
.is_stuck{
    margin-top: 80px;
}
/* fin PEDIDIO */


/* TURNOS */
.calendario{float:left; width:250px; z-index: 1;}

.tabla{float:left; width:100%; position:relative}
.columna{float:left; width:14.2857%; text-align:center}
.columna.titulos{background-color: #eaeaea;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #5c5449;
    white-space: nowrap;
    font-size:11px;
    padding: 6px 2px;
    }
    
.columna.othermonth {
    background: #f9f9f9 none repeat scroll 0 0
}

.columna.dia{
    border-right:1px solid #fff; border-bottom:1px solid #fff; text-align:right;  -webkit-transition:all .3s ease 0s;
    -moz-transition:all .3s ease 0s;
    -ms-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s;
}

.columna.dia span{font-size:12px;  padding: 4px 9px 6px; color:#666; font-weight: 700; display:block; width:100%}
.columna.dia span a{color:#fff; text-decoration:none}

.columna.dia:hover{-webkit-box-shadow: 10px 10px 33px 0px rgba(161,156,161,1);
-moz-box-shadow: 10px 10px 33px 0px rgba(161,156,161,1);
box-shadow: 10px 10px 33px 0px rgba(161,156,161,1); background: #f9f9f9}

.prevmonth{position:absolute; left:10px; z-index:999; top:0px}
.nextmonth{position:absolute; right:10px; z-index:999; top:3px}
.nextmonth a, .prevmonth a{color:#fff; text-decoration:none; font-size:25px; font-weight:bold}
.clear{clear:both}

#vp_eventos{position:relative; float:left; width:100%; }
.load{position:absolute; width:100%; height:50%; text-align:center}
.load img{margin-top:50%}

.columna.dia .contenido{color:#000; font-size:12px; position:relative}
.columna.dia .contenido a{color:#000; text-decoration:none}
 .columna.dia.contenido a:hover{text-decoration:underline}
 .contenido .imagen{position:absolute; left:0px; margin-top:-95%; display:none; z-index:999}
.imagen img{margin-bottom:10%; max-width:auto !important}
 .contenido:hover .imagen{display:block}
 .columna.dia .contenido img{display:block}
 
 .mesactual{color:#fff; text-align:center; font-size:20px; background:#EE82EE; padding: 8px;}

.diainactivo span{background:#999}
.diaactivo span{ background:#ABFF00; cursor:pointer}
.diacerrado span{ background:#eaeaea; cursor:pointer}
/* fin TURNOS */


/* FOOTER */

.links-footer {
    color: #A73C7B;
}
    
.links-footer: hover, .links-footer: focus, i.fa.fa-facebook.links-footer: hover {
    color: #FCAC0D;
    text-decoration: none;
}

.landing-footer{
    background: #4d1e3c;
    color: #A73C7B !important;
    font-size: 16px;
}

.pad_foot {
    padding: 50px 0 20px 0;
}

@media screen and (min-width: 768px)
{
    .ancho-footer {
        max-width: 1060px !important;
    }
}

.footfoot{padding-top:25px; text-align:center}
.footfoot, .footfoot a{color:#A73C7B; font-size:11px}
.footfoot .icons i{font-size:28px; margin:0 15px}
.footfoot .raya{clear:both; width:300px; max-width:100%; height:1px; background:#A73C7B; margin:20px 0 5px 0; margin-left:calc(50% - 150px); }

/* fin FOOTER */ 


/* PAGINAS */

.background-paginas-arriba-1{
    background-image: url("../../img/frontend/pages_header1.jpg");
}


.background-paginas-arriba-2{
    background-image: url("../../img/frontend/pages_header2.jpg");
}

.background-paginas-arriba-3{
    background-image: url("../../img/frontend/pages_header3.jpg");
}

.background-paginas-titulo {
    background-color: rgba(0, 0, 0, 0.25);
}

.background-paginas-header {
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 106%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(10%, rgba(0,0,0,0.83)), color-stop(106%, rgba(128,31,22,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 106%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 106%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 106%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 106%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=0 );
}

.background-paginas-arriba-layer-2 {
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 60%, rgba(231,56,39,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(10%, rgba(0,0,0,0.83)), color-stop(60%, rgba(128,31,22,0)), color-stop(100%, rgba(231,56,39,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 60%, rgba(231,56,39,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 60%, rgba(231,56,39,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 60%, rgba(231,56,39,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 60%, rgba(231,56,39,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e73827', GradientType=0 );

linear-gradient(to bottom, rgba(0,0,3,1) 0%, rgba(0,0,0,0.83) 10%, rgba(128,31,22,0) 106%)
}

.background-paginas-arriba-layer-3 {
    background: rgba(235,38,104,0.6);
    /* Old Browsers */background: -moz-linear-gradient(top, rgba(235,38,104,0.6) 0%, rgba(0,0,0,0.6) 0%, rgba(245,107,14,0.13) 33%, rgba(239,106,36,0) 42%, rgba(203,96,179,0) 100%);
     /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,38,104,0.6)), color-stop(0%, rgba(0,0,0,0.6)), color-stop(33%, rgba(245,107,14,0.13)), color-stop(42%, rgba(239,106,36,0)), color-stop(100%, rgba(203,96,179,0)));
    /* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(235,38,104,0.6) 0%, rgba(0,0,0,0.6) 0%, rgba(245,107,14,0.13) 33%, rgba(239,106,36,0) 42%, rgba(203,96,179,0) 100%);
     /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(235,38,104,0.6) 0%, rgba(0,0,0,0.6) 0%, rgba(245,107,14,0.13) 33%, rgba(239,106,36,0) 42%, rgba(203,96,179,0) 100%);
     /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(235,38,104,0.6) 0%, rgba(0,0,0,0.6) 0%, rgba(245,107,14,0.13) 33%, rgba(239,106,36,0) 42%, rgba(203,96,179,0) 100%);
     /* IE 10+ */background: linear-gradient(to bottom, rgba(235,38,104,0.6) 0%, rgba(0,0,0,0.6) 0%, rgba(245,107,14,0.13) 33%, rgba(239,106,36,0) 42%, rgba(203,96,179,0) 100%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2668', endColorstr='#cb60b3', GradientType=0 );
    /* IE6-9 */
}

.form-contacto{
    max-width: 600px !important;
}

.form-reset{
    max-width: 400px !important;
}

.input-obligatorio::after {
    content: "*";
    color: red;
    position: absolute;
    top: 10px;
    right: -2px;
}

.obligatorios {
    float: right;
    margin: 10px 20px;
    position: relative;
}

.obligatorios span {
    color: red;
}

.beneficios{
    padding: 20px;
}
/* fin PAGINAS */


/* DASHBOARD CLIENTE y LOCAL */
/* tab DATOS */
.block > .nav-tabs > li.active.datos > a > i,
.block > .nav-tabs > li.active.datos > a > span{
  color: #44b4a6;
}

.vista-previa-banner{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 600;
    min-height: 30px;
}


/* tab PEDIDOS */
.block > .nav-tabs > li.active.pedidos > a > i,
.block > .nav-tabs > li.active.pedidos > a > span{
  color: #89AEDC;
}

/* tab PRODUCTOS */
.block > .nav-tabs > li.active.productos > a > i,
.block > .nav-tabs > li.active.productos > a > span{
  color: #A94442;
}

/* tab HISTORIAL */
.block > .nav-tabs > li.active.historial > a > i,
.block > .nav-tabs > li.active.historial > a > span{
  color: #FCAC0D;
}

.puntos_califica label{
    float:left; 
    width:20%; 
    text-align:center
}

.btn-venta{
    background-color: #FCAC0D;
    color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
}

.btn-venta:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

/* tab VENTAS */
.block > .nav-tabs > li.active.ventas > a > i,
.block > .nav-tabs > li.active.ventas > a > span{
  color: #FCAC0D;
}

/* tab TURNOS */
.texto-turnos{
    color: #46c37b;
}

.block > .nav-tabs > li.active.turnos > a > i,
.block > .nav-tabs > li.active.turnos > a > span{
  color: #46c37b;
}

.select-horario{
    width: auto !important;
    display: inline;
    font-weight: 600;
}


/* tab TURNOS ACTIVOS */
/*
.block > .nav-tabs > li.active.turnos-activos > a > i,
.block > .nav-tabs > li.active.turnos-activos > a > span{
  color: white;
}

.block > .nav-tabs > li.turnos-activos > a{
  background-color: #46C37B;
}

.block > .nav-tabs.turnos-tabs {
  background-color: #FFF;
}

.border-turnos{
    border: 2px solid #46C37B;
}

*/

.block > .nav-tabs > li.active.turnos-activos > a > i,
.block > .nav-tabs > li.active.turnos-activos > a > span{
  color: white;
}

.block > .nav-tabs > li.turnos-activos > a > span{
  color: #46C37B;
}

.block > .nav-tabs > li.active.turnos-activos > a{
  background-color: #46C37B;
}

.block > .nav-tabs.turnos-tabs {
  background-color: #FFF;
}

.border-turnos{
    border: 2px solid #46C37B;
}

/* TAB HORARIOS DISPONIBLES */

.block > .nav-tabs > li.active.horarios-activos > a > i,
.block > .nav-tabs > li.active.horarios-activos > a > span{
  color: white;
}

.block > .nav-tabs > li.horarios-activos > a > span{
  color: #46C37B;
}

.block > .nav-tabs > li.active.horarios-activos > a{
  background-color: #46C37B;
}

.block > .nav-tabs.horarios-tabs {
  background-color: #FFF;
}

.border-horarios{
    border: 2px solid #46C37B;
}





/* tab MIS MASCOTAS */

.select2-container{
    z-index: 100000;
}


.block > .nav-tabs > li.active.mascotas > a > i,
.block > .nav-tabs > li.active.mascotas > a > span{
  color: red;
}
.mascotas{
    color: red;
}

.btn-mascotas{
    background-color: red;
    color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
}

.btn-mascotas:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

.back-mascotas{
    background-color: red;
    color: white;
}


/* tab VACUNAS */
.block > .nav-tabs > li.active.vacunas > a > i,
.block > .nav-tabs > li.active.vacunas > a > span{
  color: #a48ad4;
}
.vacunas{
    color: #a48ad4;
}

.btn-vacunas{
    background-color: #a48ad4;
    color: rgba(255, 255, 255, 0.9) !important;
    opacity: 0.9;
}

.btn-vacunas:hover{
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}


.back-vacunas{
    background-color: #a48ad4;
    color: white;
}

/* tab NOTIFICACIONES */
.block > .nav-tabs > li.active.notificaciones > a > i,
.block > .nav-tabs > li.active.notificaciones > a > span{
  color: #555;
}

/* tabs inactivos */
.block > .nav-tabs {
  background-color: #89AEDC;
}


.block > .nav-tabs > li > a:hover {
  color: #eee;
}


/* TAB DATOS DE LA TIENDA */

.block > .nav-tabs.datos-tabs {
  background-color: #44B4A6;
}

.back-datos{
    background-color: #44B4A6;
    color: white;
}

.border-datos{
    border: 2px solid #44B4A6;
}

.block > .nav-tabs > li.active.datos-tienda > a{
  background-color: #FCFCFC;
}

.css-checkbox-datos-tab input:checked + span {
  background-color: #44B4A6;
  border-color: #44B4A6;
}

.block > .nav-tabs > li.active.datos-activos > a > i,
.block > .nav-tabs > li.active.datos-activos > a > span{
  color: white;
}

.block > .nav-tabs > li.datos-activos > a > span{
  color: rgba(68, 180, 166, 0.65);
}

.block > .nav-tabs > li.active.datos-activos > a{
  background-color: #44B4A6;
}

.block > .nav-tabs.datos-tabs {
  background-color: #FCFCFC;
}


.affix {
      top: 80px;
}


.oculta-modal {
  z-index: 1;

}

.muestra-modal{
  z-index: 100000;
}


/* DATATABLES SIN HEADER 
#table_comentarios_venta thead{
    display: none !important;
}

#table_comentarios_venta_cliente thead{
    display: none !important;
}
*/

/* PORTADAS DINAMICAS */
.portada-layer 
{
    position: absolute; 
    top:0; 
    left:0; 
    z-index: 1;
    width: 100%;
}

.background-landing{
    min-height: 440px;
}

.portadas{
    position: absolute;
    top:4px;
    left: 4px;
    z-index: 10000;
}

.headerimage {
    cursor: s-resize;
    position: absolute;
    left: 0 !important;
    margin-top: 0 !important;
}

.portada-wrapper{
    position: relative;

    overflow: hidden;
}

.portada-title{
    position: absolute; 
    display: table; 
    width:100%;
    z-index: 10;
}

.centrado-h{
    display:table-cell;
    text-align:center; 
}

/* fin PORTADAS DINAMICAS */


/* DASHBOARD LOCAL - TAB PRODUCTOS */

.cargando {
    text-align: center; 
    font-weight: 400; 
    font-size: 17px;
}

/* tab PRODUCTOS ACTIVOS / INACTIVOS */
.block > .nav-tabs > li.active.productos-activos > a > i,
.block > .nav-tabs > li.active.productos-activos > a > span{
  color: white;
}

.block > .nav-tabs > li.productos-activos > a > span{
  color: rgba(169, 68, 66, 0.65);
}

.block > .nav-tabs > li.active.productos-activos > a{
  background-color: #A94442;
}

.block > .nav-tabs.productos-tabs {
  background-color: #FCFCFC;
}

.bg-blue-light {
  background-color: #FCFCFC;
}

.back-productos{
    background-color: #A94442;
    color: white;
}

.border-productos{
    border: 2px solid #A94442;
}

/* text tabs inactivos */
.block > .nav-tabs > li > a {
  /*color: #A94442; */
  color: white;
}

.productos{
    color: #A94442;
}

.block-header-productos{
    padding: 20px 0;
}


/* ARTICULOS DE UN LOCAL - TABLA ARTICULOS */
#table_articulos thead {
  display: none;
}


#table_articulos td {
  padding: 0 !important;
}

/* LISTADO DE LOCALES - TABLA LOCALES */
#table_locales thead {
  display: none;
}

#table_locales td {
  padding: 0 !important;
}

.div_cargando
{
    background: rgba(200, 200, 200, 0.6);
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    top: 70px;
    padding-top: 20px;
    min-height: 30px;
}


/* ADMIN */
/* Ventas */

/* Botones Excel */
#table_ventas_wrapper .dt-buttons
{
    margin: -68px 0 0 116px !important;
} 

#table_turnos_wrapper .dt-buttons
{
    margin: -68px 0 0 234px !important;
} 

button.dt-button, div.dt-button, a.dt-button 
{
    background-image: none !important;
    background-color: red !important;
    color: #fff !important;
    background-color: #5c90d2 !important;
    border-color: #3675c5 !important;
    padding: 6px 12px !important;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
}

button.dt-button, div.dt-button, a.dt-button:hover 
{
    color: #fff !important;
    background-color: #3c7ac9 !important;
    border-color: #295995 !important;
}

a.dt-button span{
    font-size: 0;
}

#table_turnos_wrapper .dt-buttons a.dt-button span:before{
    content: "Excel Turnos"; font-size: 14px; 
}

#table_ventas_wrapper .dt-buttons a.dt-button span:before{
    content: "Excel Ventas"; font-size: 14px; 
}

#table_ventas_filter, #table_turnos_filter
{
    display: none;
}
/* FIN Botones Excel */
